//COLORS:
$color_primary: #00ADB5;
$color_primary_light: #5AB1BB;
$color_primary_dark: #303841;

$color_secondary_light: #FF5722;
$color_secondary_dark: #D30C7B;

$color_tertiary_light: #2998ff;
$color_tertiary_dark: #5643fa;

$color_white: #fff;
$color_black: #000;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color_grey_dark: #777;
$color_grey_dark-2: #999;
$color_grey_dark-3: #333;

//FONT
$default-font-size: 1.6rem;


//GRID
$grid-width: 114rem;
$spacing-vertical: 7rem;
$spacing-vertical-small: 7rem;
$spacing-horizontal: 6rem;
