*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html{
  //This defines what 1rem is
  font-size: 62.5% ; //62.5% of default browser size which is 16px => 10px so 1rem = 10px
}

body {
  box-sizing: border-box;
}
