.u-center-text{
  text-align: center;
}

.u-margin-bottom-small{
  margin-bottom: .6rem;
}

.u-margin-bottom-medium{
  margin-bottom: 4rem;
}

.u-margin-bottom-big{
  margin-bottom: 8rem;
}

.u-padding-x-3{
  padding-left: 3rem;
  padding-right: 3rem;
}
