.section-about{
  background-color: $color-grey-light-1;
  padding: 25rem 3rem;
  margin-top: -20vh;
}

.section-features{
  padding: 20rem 3rem;
  background: linear-gradient(
                  to right bottom,
                  rgba($color_primary_light, .8),
                  rgba($color_primary_dark, .8)
  ), url("../../img/nat-4.jpg") top;
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem;

  & > * {
    transform: skewY(7deg);
  }
}
